.form-container{
    max-width: 300px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0,0, 0.1);
    padding: 50px;
    background-color: rgb(52, 213, 213);
    font-family: "Lobster",sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;

}

input{
    width: 100%;
    padding:15px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    background-color: white;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    resize: none;
}

button{
    background-color: rgb(26, 27, 33);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}