<app-navbar></app-navbar>
<div>
    <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
            <p style="font-size: 25px;color: blueviolet;">My Primary Skills</p>
        </div>
        <div class="card-container">
            <mat-card class="mat-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="font-size: 25px;color: blueviolet;">Asp.Net Core C#</p>
                </mat-card-header>
                <img mat-card-image src="assets/.netimage.png" alt="Image">
                <mat-card-content>
                    <p> I possess advanced skills in ASP.NET Core and C#, with a proven track record of developing scalable and efficient web applications.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mat-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="font-size: 25px;color: blueviolet;">Spring Boot Java</p>
                </mat-card-header>
                <img mat-card-image src="assets/SpringBootJava.png" alt="Image">
                <mat-card-content>
                    <p> I demonstrate expertise in developing robust backend solutions, utilizing Spring Boot's framework to ensure scalable and efficient application performance.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mat-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="font-size: 25px;color: blueviolet;">Angular</p>
                </mat-card-header>
                <img mat-card-image src="assets/Angularlogo.png" alt="Image">
                <mat-card-content>
                    <p> I excel in crafting dynamic and responsive user interfaces, leveraging Angular's powerful features to create seamless web experiences.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>