<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="coding-photo-container">
               <img src="assets/coding-photo.png" alt="coding-image" class="coding-photo">
            </div>
        </div>
     
        <div class="text-container">
           <p>Welcome to my Portfolio website !!</p>
           <p>I am a passionate Full Stack Web Developer with extensive experience in leveraging .NET C# and Spring Boot Java for backend development, coupled with Angular for dynamic and responsive front-end solutions. 
            Adept in creating scalable, high-performance applications, I have demonstrated proficiency in APIs, RESTful services, and cloud integration with AWS. Recognized for driving efficiency improvements, I engineered a Taxation and Policies platform resulting in a 20% increase in application speed. 
            Holding certifications in Agile Development and ASP.NET, my expertise spans across JavaScript frameworks, SQL databases, and CI/CD pipelines, ensuring seamless project delivery and robust software solutions.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
